{% include 'base.html' %}
{% load static %}
{% include 'navbar.html' %}

{% block content %}
<div class="container">
    <h2>View Appointment</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Appointment Id</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Time</th>
                {% if request.user.is_staff or request.user.is_receptionist %}
                    <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{appointment.id}}</td>
                <td>{{appointment.doctor.user}}</td>
                <td>{{appointment.patient.name}}</td>
                <td>{{appointment.date}}</td>
                <td>{{appointment.time}}</td>
                {% if request.user.is_staff or request.user.is_receptionist %}
                    <td><a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% include 'footer.html' %}
