{% include 'base.html' %}
{% load static %}
{% include 'navbar.html' %}

{% block content %}
<div class="container">
    <h2>View Doctor</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Doctor Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Speciality</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{doctor.id}}</td>
                <td>{{doctor.name}}</td>
                <td>{{doctor.address}}</td>
                <td>{{doctor.speciality}}</td>
                <td><a href="{% url 'update_doctor' doctor.id %}" class="btn btn-success">Update</a></td>
                <td><a href="{% url 'delete_doctor' doctor.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% include 'footer.html' %}
